*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
#content li:hover{
    background-color: orange;
}
.loadmore{
    width: 100%;
    padding-top: 10px;
    text-align: center;
    
}
.loadmore a{
    display: inline-block;
    line-height: 42px;
    padding: 0 12px;
    border-radius: 5px;
    border:1px solid #50bfff;
    background-color: #fff;
    
}
.loadmore a.active{
   
}
.loadmore a:hover{
    -background-color: #50bfff;
    
}
#loadMore img{
    display: inline-block;
    width: 40px;
    padding: 0 12px;
    line-height: 42px;
    vertical-align: top;
}
#content{
    transition: 1s;
}
#content li{
    list-style:none;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    cursor:pointer;
}